<!DOCTYPE html>
<html>
  <head>
    <title>zdrct</title>
    <link href="/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link href="/style.css" rel="stylesheet" crossorigin="anonymous" />
    <link href="/codemirror.css" rel="stylesheet" crossorigin="anonymous" />
  </head>
  <body>
    <script type="text/javascript">
      const csrf = {{ .CSRF }};
    </script>
    <script type="text/javascript" src="codemirror.js"></script>
    <script type="text/javascript" src="go.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
	<button class="nav-link{{ if eq .Tab "twitch" }} active{{ end }}" id="nav-twitch-tab" data-bs-toggle="tab" data-bs-target="#nav-twitch" type="button" role="tab" aria-controls="nav-twitch" aria-selected="true">Twitch</button>
	<button class="nav-link{{ if eq .Tab "script" }} active{{ end }}" id="nav-script-tab" data-bs-toggle="tab" data-bs-target="#nav-script" type="button" role="tab" aria-controls="nav-script" aria-selected="false">Script</button>
	<button class="nav-link{{ if eq .Tab "doomexe" }} active{{ end }}" id="nav-doomexe-tab" data-bs-toggle="tab" data-bs-target="#nav-doomexe" type="button" role="tab" aria-controls="nav-doomexe" aria-selected="false">Doom exe and args</button>
	<button class="nav-link{{ if eq .Tab "rcon" }} active{{ end }}" id="nav-rcon-tab" data-bs-toggle="tab" data-bs-target="#nav-rcon" type="button" role="tab" aria-controls="nav-rcon" aria-selected="false">RCon</button>
      </li>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      {{ template "_twitch" . }}
      {{ template "_doomexe" . }}
      {{ template "_script" . }}
      {{ template "_rcon" . }}

    </div>

    <script src="/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
